   
.users-page{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    /* position: relative; */
    /* align-items: center; */
    /* justify-content: center; */
}

.users-panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-box-search{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 0px 10px;
}

.table-wrapper {
    overflow-x: auto;
    display: flex;
    justify-content: center;
  }

  .table {
    width: 100%;
    background-color: var(--primary-200);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
  }

  .table thead {
    background-color: var(--primary-100);
    color: var(--text-100);
  }

  .table th {
    padding: 12px 24px;
    text-align: left;
    font-weight: 600;
  }

  .table tbody tr:nth-child(even) {
    background-color: var(--primary-200);
  }

  .table tbody tr:hover {
    background-color: var(--primary-300);
    color: black;
    cursor :pointer;
    transition: background-color 0.2s ease;
  }

  .table td {
    padding: 16px 24px;
    border-bottom: 1px solid #e5e7eb;
  }
