.card-main{
    width : 300px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    background: linear-gradient(90deg,var(--primary-100) 0%, var(--primary-200) 66%);
}
.card-title {
    font-size: 1.5rem;
}

.card-value{
    font-size: 3rem;
    font-weight: 600;
}